@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

:root{
  --main-bg-color: #708B75;
  --light-bg-color: #444B6E;
  --component-bg-color: #9AB87a;
  --main-text-color: #FFFFFf;
  --btn-color: #444B6E;
  --bt-text-color: #9AB87a;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.btn {
 background-color: var(--light-bg-color);
}

.container{
  color: var(--main-text-color);
  background-color: var(--component-bg-color);
}


div .jumbotron{
  
  width: 100%;
  color: var(--main-text-color);
  background-color: var(--component-bg-color);
}
.jumbotron{
  background-color: var(--component-bg-color);
  color: var(--main-text-color);
}

.card{
  margin: 20px auto;
  width: 300px;
  height: 400px;
  padding: 20px;
  border: 2px solid #605F5E;
  color: var(--main-bg-color);
  background-color: var(--component-bg-color);
}

.chart {
  background-color: white;
  color: var(--component-bg-color);
  margin-bottom: 1em;
}

.container.card{
  background-color: var(--light-bg-color);
  color: var(--component-bg-color);
}
nav{
  margin-top: 0;
  margin-left: inherit;
  margin-right: inherit;
  margin-bottom: 30px;
  background-color: var(--light-bg-color);
}

.nav-link, .navbar-brand{
  color: var(--main-text-color);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: var(--main-bg-color);
  height: 150px;
  padding: 20px;
  color: var(--main-text-color);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
