.jumbotron{
    background-color: #0A2463;
    color: #E2E2E2;
}

.card{
    margin: 20px auto;
    width: 300px;
    height: 400px;
    padding: 20px;
    border: 2px solid #605F5E;
    background-color: #0A2463;
    color: #E2E2E2;
}